.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 500px;
  background: rgb(92,179,190);
  background: linear-gradient(180deg, rgba(92,179,190,1) 0%, rgba(110,190,200,1) 32%, rgba(133,204,214,1) 65%, rgba(150,215,223,1) 100%);
}

.App .Header{
  display: grid;
    grid-template-columns: 35% auto;
    /* padding: 20px; */
    width: 85%;
    margin: 30px;

}

.App .Header i{
  color: #fff;
}

.App .Header div {
  text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 5px;
    font-family: Roboto, sans-serif;
    color: whitesmoke;
    text-shadow: 0.1em 0.05em 0.2em #f3ecec;
}

.App .btnAdd{
  width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0.1em 0.1em 0.6em #f0e8e8;
}

.btnAdd i{
  font-size: 20px;
    color: rgb(28, 131, 144);
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.myModal {
  width: inherit;
  height: fit-content;
  background: #FFFFFF;
  border-radius: 6px;
  display: none;
  position: absolute;
  /* left: 50%; */
  top: 25%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

.Modal {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  margin: 35px;
}

.Modal h1 {
  color: black;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  font-feature-settings: "tnum" on, "lnum" on;
  text-align: center;
}


.groupButton {
  display: flex;
  justify-content: center;
}

.Modal button:nth-child(1) {
  background: #28A745;
  width: 125px;
  height: 40px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
}

.Modal button:nth-child(2) {
  background: #D63447;
  width: 125px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.isModal{
  display: inline-block !important;
}

.inputAdd{
  background: rgba(221, 221, 221, 0.5);
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px;
  margin: 27px;
}